#####################################################################
# 	Fan Control
#####################################################################

##   Hotend Fan
[heater_fan hotend_fan]
pin: toolhead: FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0
tachometer_pin: ^toolhead: PWM0
#tachometer_poll_interval: 0.0005 # will support up to a 30.000 RPM fan with 2 pulses per rotation.

##   Print Cooling Fan
[fan]
pin: toolhead: FAN0
kick_start_time: 0.5 # 0.5 for Voron BOM 4020 blower, 2 for Winsinn
#	Depending on your fan, you may need to increase this value
#	if your fan will not start. Can change cycle_time (increase)
#	if your fan is not able to slow down effectively
off_below: 0.10 # 0.10 for Vron BOM 4020 blower, 0.2 for Winsinn

##   Controller cooling fan
[controller_fan pi]
pin: FAN0
kick_start_time: 0.5
fan_speed: 0.75
idle_timeout: 60
idle_speed: 0.50
shutdown_speed: 0.0
heater: extruder, heater_bed
stepper: stepper_z1, stepper_z2, stepper_z3, stepper_z, stepper_x, stepper_y

##   Controller cooling fan
[controller_fan mcu]
pin: FAN1
kick_start_time: 0.5
fan_speed: 0.75
idle_timeout: 60
idle_speed: 0.50
shutdown_speed: 0.0
heater: extruder, heater_bed
stepper: stepper_z1, stepper_z2, stepper_z3, stepper_z, stepper_x, stepper_y

## toolhead cooling fan
[controller_fan toolhead]
pin: toolhead: FAN2
kick_start_time: 0.5
fan_speed: 1.0
idle_timeout: 300
idle_speed: 0.75
shutdown_speed: 0.0
heater: extruder
stepper: extruder

[fan_generic nevermore]
pin: LED-B
max_power: 1.0
kick_start_time: 0.5
#fan_speed: 1.0
#heater: heater_bed
#heater_temp: 100
#shutdown_speed: 0.0

[fan_generic chamber]
pin: LED-R
max_power: 1.0
kick_start_time: 0.5
off_below: 0.10


#####################################################################
#  Macros
#####################################################################
# Author: alch3my#9819
# Monitoring loop. Begins at Klipper start.
[delayed_gcode CHECK_ALL_FANS]
initial_duration: 1
gcode:
    HOTEND_FAN_CHECK
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3

# Change min_rpm and max_consecutive_stops to your desired values.
[gcode_macro HOTEND_FAN_CHECK]
variable_he_stop_count: 0
gcode:
    {% set min_rpm = 3000|float %}
    {% set max_consecutive_stops = 3 %}
    {% set rpm = printer['heater_fan hotend_fan'].rpm|float %}
    {% set he_target = printer[printer.toolhead.extruder].target|float %}
    {% set he_temp = printer[printer.toolhead.extruder].temperature|float %}
    {% set fan_on_temp = printer.configfile.settings['heater_fan hotend_fan'].heater_temp|float %}
    {% set he_stop_count = printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int %}

    {% if (he_target >= fan_on_temp) and (rpm < min_rpm) and (he_temp >= fan_on_temp) %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE={he_stop_count + 1}
        M118 WARNING: Fan stoppage detected ({he_stop_count+1}/{max_consecutive_stops}).
        M400
        {% if printer["gcode_macro HOTEND_FAN_CHECK"].he_stop_count|int >= max_consecutive_stops-1 %}
            FAN_STOPPAGE_ROUTINE
        {% endif %}
    {% else %}
        SET_GCODE_VARIABLE MACRO=HOTEND_FAN_CHECK VARIABLE=he_stop_count VALUE=0
    {% endif %}

# Insert the gcode that you want to run when a fan stoppage is detected.
# This runs every ~3 seconds until the stop conditions are cleared.
[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    # If not already paused
    {% if printer['pause_resume'].is_paused|int == 0 %}
        M117 !!FAN STOPPAGE!!
        M118 FAN STOPPAGE DETECTED. PAUSING...
        PAUSE
        # Turn off the hotend.
        # !! Don't forget to turn your hotend back on before resume. !!
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% endif %}

