#####################################################################
# 	Fan Control
#####################################################################

##   Hotend Fan
[heater_fan hotend_fan]
pin: HEAT_1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

##   Print Cooling Fan
[fan]
pin: FAN2
kick_start_time: 0.5 # 0.5 for Voron BOM 4020 blower, 2 for Winsinn
#	Depending on your fan, you may need to increase this value
#	if your fan will not start. Can change cycle_time (increase)
#	if your fan is not able to slow down effectively
off_below: 0.10 # 0.10 for Vron BOM 4020 blower, 0.2 for Winsinn

##   Controller cooling fan
[controller_fan pi]
pin: FAN0
kick_start_time: 0.5
fan_speed: 0.75
#idle_timeout: 60
idle_speed: 0.50
heater: extruder

##   Controller cooling fan
[controller_fan mcu]
pin: FAN1
kick_start_time: 0.5
fan_speed: 0.75
idle_timeout: 60
idle_speed: 0.50
heater: heater_bed
