#####################################################################
#  Idle/Timeout Routine
#####################################################################

[idle_timeout]
timeout: 7200  #2 hours
gcode:
    TURN_OFF_HEATERS
    M84
    status_ready


#####################################################################
#  Macros
#####################################################################

## G-Code M18: Disable all stepper motors
[gcode_macro M18]
rename_existing: M0018
gcode:
  M0018
  status_ready

## G-Code M84: Stop idle hold
[gcode_macro M84]
rename_existing: M0084
gcode:
  M0084
  status_ready
