##   Input Shaping
[input_shaper]
shaper_freq_x: 45.8
shaper_freq_y: 33.6
shaper_type_x: mzv
shaper_type_y: mzv

[adxl345]
cs_pin: toolhead: ADXL_CS
spi_software_sclk_pin: toolhead: ADXL_SCK
spi_software_mosi_pin: toolhead: ADXL_MOSI
spi_software_miso_pin: toolhead: ADXL_MISO
axes_map: -z, -y, -x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # Dead Center
min_freq: 5
max_freq: 120
#sweeping_period: 0
#accel_per_hz: 75
hz_per_sec: 1

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.


#####################################################################
#  Macros
#####################################################################
[gcode_macro resonance_test]
gcode:
      # Set variables for axis centers
      {% set midx = printer.configfile.config.stepper_x.position_max|float / 2 %}
      {% set midy = printer.configfile.config.stepper_y.position_max|float / 2 %}

      SMARTHOME
      TEST_RESONANCES POINT={ midx },{ midy },20 AXIS=X   FREQ_START=10 FREQ_END=100 HZ_PER_SEC=0.5 OUTPUT=raw_data
      TEST_RESONANCES POINT={ midx },{ midy },20 AXIS=Y   FREQ_START=10 FREQ_END=100 HZ_PER_SEC=0.5 OUTPUT=raw_data
      TEST_RESONANCES POINT={ midx },{ midy },20 AXIS=1,1 FREQ_START=10 FREQ_END=100 HZ_PER_SEC=0.5 OUTPUT=raw_data
      TEST_RESONANCES POINT={ midx },{ midy },20 AXIS=-1,1 FREQ_START=10 FREQ_END=100 HZ_PER_SEC=0.5 OUTPUT=raw_data

[gcode_macro autotune]
gcode:
      # Set variables for axis centers
      {% set midx = printer.configfile.config.stepper_x.position_max|float / 2 %}
      {% set midy = printer.configfile.config.stepper_y.position_max|float / 2 %}

      SMARTHOME
      TEST_RESONANCES AXIS=1,1 OUTPUT=raw_data
      TEST_RESONANCES AXIS=1,-1 OUTPUT=raw_data
      SHAPER_CALIBRATE
      
[gcode_macro vibration_test]
gcode:
      # Set variables for axis centers
      {% set midx = printer.configfile.config.stepper_x.position_max|float / 2 %}
      {% set midy = printer.configfile.config.stepper_y.position_max|float / 2 %}

      # Store the user's intial input_shaper frequency parameters
      {% set initShapeX = printer.configfile.config.input_shaper.shaper_freq_x %}
      {% set initShapeY = printer.configfile.config.input_shaper.shaper_freq_y %}

      G28
      #X Vibration - With Input Shaper
      G1 X{ midx - 25 } Y{ midy } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-x-input-shaper.csv
      G1 X{ midx + 25 } Y{ midy } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-x-input-shaper.csv

      #Y Vibration - With Input Shaper
      G1 X{ midx } Y{ midy  - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-y-input-shaper.csv
      G1 X{ midx } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-y-input-shaper.csv

      #B Vibration - With Input Shaper
      G1 X{ midx - 25 } Y{ midy - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-b-input-shaper.csv
      G1 X{ midx + 25 } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-b-input-shaper.csv

      #A Vibration - With Input Shaper
      G1 X{ midx + 25 } Y{ midy - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-a-input-shaper.csv
      G1 X{ midx - 25 } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-a-input-shaper.csv

      SET_INPUT_SHAPER SHAPER_FREQ_X=0 SHAPER_FREQ_Y=0

      #X Vibration - Stock
      G1 X{ midx - 25 } Y{ midy } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-x-stock.csv
      G1 X{ midx + 25 } Y{ midy } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-x-stock.csv

      #Y Vibration - Stock
      G1 X{ midx } Y{ midy - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-y-stock.csv
      G1 X{ midx } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-y-stock.csv

      #B Vibration - Stock
      G1 X{ midx - 25 } Y{ midy - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-b-stock.csv
      G1 X{ midx + 25 } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-b-stock.csv

      #A Vibration - Stock
      G1 X{ midx + 25 } Y{ midy - 25 } Z20
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=3200 OUTPUT=/tmp/accel-a-stock.csv
      G1 X{ midx - 25 } Y{ midy + 25 } F6000
      M400
      G4 P300
      ACCELEROMETER_MEASURE CHIP=adxl345 RATE=0 OUTPUT=/tmp/accel-a-stock.csv

      # Restore user's input shaper frequency parameters
      SET_INPUT_SHAPER SHAPER_FREQ_X={ initShapeX } SHAPER_FREQ_Y={ initShapeY }
