## Voron V2.4
# Inspiration from /u/VonThing & Floris Remmen
# Uses multiple config files. 

#####################################################################
# Machine definitions
#####################################################################
[include machine.cfg]
[include pi.cfg]

#####################################################################
#  Fans
#####################################################################
[include fans.cfg]

#####################################################################
# Bed/Gantry Leveling Probe 
#####################################################################
[include probe.cfg]

#####################################################################
# Macros 
#####################################################################
[include macros.d/*.cfg]

#####################################################################
# ERCFv2 Happy Hare
#####################################################################
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]

#####################################################################
#  Light Control(s)
#####################################################################
[include neopixels.cfg]

#####################################################################
#  Homing Routines
#####################################################################
[include homing.cfg]

#####################################################################
#  Bed Mesh 
#####################################################################
[include bed_mesh.cfg]

#####################################################################
# Frame Thermal Expansion Compensation
#####################################################################
[include frame_comp.cfg]

#####################################################################
# Calibration
#####################################################################
[include input_shaper.cfg]

#####################################################################
# Display
#####################################################################
[include display.cfg]

#####################################################################
#  Idle/Timeout Routine
#####################################################################
[include idle_timeout.cfg]

#####################################################################
#  Moonraker + Webclient
#####################################################################
[include webclient.cfg]

#####################################################################
# Other
#####################################################################
[include other.cfg]
[include exclude_object.cfg]
[include autospeed.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.400
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.763
#*# pid_ki = 1.073
#*# pid_kd = 100.443
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.324
#*# pid_ki = 0.920
#*# pid_kd = 420.279
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.068750, 0.065000, 0.072500, 0.081250
#*# 	  0.080000, 0.080000, 0.082500, 0.092500
#*# 	  0.092500, 0.093750, 0.088750, 0.093750
#*# tension = 0.2
#*# min_x = 122.13499999999999
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 259.798
#*# x_count = 4
#*# max_y = 305.898
#*# mesh_x_pps = 2
#*# max_x = 179.345
