####################################################################
#  Probe
#####################################################################

[probe]
## Inductive Probe
## This probe is not used for Z height, only Quad Gantry Leveling
## Z_MAX on mcu_z
## If your probe is NO instead of NC, add change pin to !z:P1.24
pin: z:P1.24
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 30
samples: 1
samples_result: average
sample_retract_dist: 7.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
